:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

.light-theme {
  --bg-color: #ffffff;
  --initial-color: #010101;
  --grid-border: #000000;
  --light-black: #303030;
  --cell-border: #c0c7d4;
  --cell-bg: #ffffff;
  --selected-bg: #bbdefb;
  --selected-bg-light: #e2ebf3;
  --text-color: #315aaf;
  --error-bg: #ffcccc;
  --initial-bg: #e8e8e8;
}

.dark-theme {
  --bg-color: #010101;
  --initial-color: #999;
  --grid-border: #ffffff;
  --light-black: #b1b1b1;
  --cell-border: #404040;
  --cell-bg: #010101;
  --selected-bg: #345144;
  --selected-bg-light: #262626;
  --text-color: #f1f1f1;
  --error-bg: #792b2b;
  --initial-bg: #2a2a2a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  gap: 0px;
  border: 1px solid var(--grid-border);
  width: fit-content;
  padding: 0px;
  border-top: 2px solid var(--grid-border);
  border-bottom: 2px solid var(--grid-border);
}

.cell {
  width: 48px;
  height: 48px;
  background-color: var(--cell-bg);
  border: 1px solid var(--cell-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: center;
}

.note-cell {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--cell-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: default;
  color: var(--text-color);
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: center;
}

.row-notes {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.column-notes {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  gap: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.selected {
  background-color: var(--selected-bg);
}

.highlighted {
  background-color: var(--bg-color);
}

.highlighted-match {
  background-color: var(--bg-color);
}

.error {
  background-color: var(--error-bg);
}

.initial {
  color: var(--initial-color);
}

/* Add thicker borders for 3x3 squares */
.cell:nth-child(3n) {
  border-right: 1px solid var(--grid-border);
}

.cell:nth-child(3n + 1) {
  border-left: 1px solid var(--grid-border);
}

.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 1px solid var(--grid-border);
}

.cell:nth-child(n + 28):nth-child(-n + 36),
.cell:nth-child(n + 55):nth-child(-n + 63) {
  border-top: 1px solid var(--grid-border);
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 4px;
  padding: 10px 20px;
  font-size: 16px;
}

select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.grow {
  background-color: var(--grid-border);
  transform: scale(1.2);
}

.completed {
  background-color: var(--selected-bg-light);
}

.victory-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: gold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  padding-right: 50px;
  /* padding: 50px; */
  /* background-color: white; */
  /* border: 3px solid black; */
  /* border-radius: 4px; */
}

.crown-icon {
  width: 48px;
  height: 48px;
  fill: gold;
}

.sudoku-grid-wrapper {
  display: flex;
  align-items: start;
  width: fit-content;
  position: relative;
}

.start-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  z-index: 1000;
  gap: 0px;
}

.start-screen h1 {
  color: var(--grid-border);
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0px;
  margin-bottom: 1rem;
}

.start-screen .big-text {
  color: var(--grid-border);
  text-align: center;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-bottom: 2rem;
}

.start-screen .small-text {
  color: var(--grid-border);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start-screen button {
  display: flex;
  width: 12.5rem;
  padding: 0.75rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--grid-border);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-screen button:hover {
  background-color: var(--light-black);
}

.nav {
  display: flex;
  height: 5rem;
  padding: 0.625rem 1.875rem;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.nav-title {
  color: var(--grid-border);
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.nav a {
  cursor: pointer;
  color: var(--grid-border);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.game-screen {
  display: flex;
  width: 100%;
  padding-top: 2.5rem;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}

.game-screen-controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-btn {
  color: var(--grid-border);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.game-btn-icon:hover {
  background-color: var(--selected-bg-light);
}

.game-btn-icon {
  width: 100px;
  height: 100px;
  border: 4px solid var(--grid-border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.toggle-indicator {
  position: absolute;
  top: -15px;
  right: -25px;
  background-color: var(--bg-color);
  border: 3px solid var(--grid-border);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  font-weight: 600;
}

.author-link {
  color: var(--grid-border);
}

.author-text {
  padding-top: 40px;
  color: var(--grid-border);
  opacity: 0.5;
  text-align: center;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#difficulty-text {
  color: var(--grid-border);
}
